<h1>chatbot<h1>
  <%= form_with  model: @chatbot, url: "/chatbots", method: :chatbot, id: "form", local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.submit '投稿する' , id: "submit" %>
  <% end %>  

 <% @chatbots.each do |chatbot| %>
<div class="chatbot">
  <div class="chatbot-date">
    投稿日時：<%= chatbot.created_at %>
  </div>
  <div class="chatbot-content">
    <%= chatbot.content %>
  </div>
</div>
<% end %> 